:root{
    --background-color: white;
    --front-color:rgb(109, 109, 196);
}

[data-element-name= "Colors"] input{
    padding: 0;
    margin: 0;
    border: 0;
    
} 

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: var(--background-color);
    width: 100vw;
}

[data-element-name= "Figure"] {
    aspect-ratio: 1/1;
    position: relative;
    margin: 0;
    background: var(--background-color);
    transition: 300ms;
}

[data-element-name= "Figure"]>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5%;
    border: 1px solid gray;
    transition: 300ms;
}


[data-element-name= "Figure"]>img:hover{
    cursor: pointer;
    box-shadow: 1px 1px 10px black;
    filter: brightness(70%);
    transform: scale(1.02) rotate(0.01turn);
}

[data-element-name= "Figure"]>input[type = "checkbox"]{
    display:inline-block;
    position: absolute;
    top: 7px;
    left: 7px;
}

[data-element-name = "Banner"]{
    touch-action: pan-y;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
}

[data-element-name = "Image"] > img{
   max-width: 100vw;
}
[data-element-name = "Image"] {
    touch-action: none;
}
/* @media (max-width: 768px) {
    [data-element-name = "Image"]{
        width: 100vw;
    }
} */


[data-element-name = "Button"].insert{
    /* position: fixed; */
    width: fit-content;
    height: fit-content;
    padding: 30px;
    background-color: var(--front-color);
    border: 0;
    border-radius: 70% 10% 10% 20%;

    font-size: x-large;
    font-weight: bolder;
    color: var(--background-color);

    position: fixed;
    bottom: 1vh;
    right: 1vw;

    transition: .5s;
}


[data-element-name = "Button"].insert:hover{
    cursor: pointer;
    background: var(--front-color);
    box-shadow: 0.5px 0.5px 5px black;
    font-size: xx-large;
}


[data-element-name = "Galeria"] {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,.5fr));
    height: auto;
    gap: 4px;
    margin: 1vw;
}

@media (max-width: 750px) {
    [data-element-name = "Galeria"] {
        grid-template-columns: repeat(auto-fit,minmax(150px,1fr));
    }
}

header{
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color:  var(--front-color);
}
header > input {
    align-self: flex-start;
}
[data-element-name = "Button"].delete{
    padding: 5px;
    background-color: red;
    border: 0;
    border-radius: 10px;
    transition: 0.05s;
}

[data-element-name = "Button"].delete:active{ 
    background-color: rgb(252, 106, 106);
}